{% assign hydrogen_domain = 'contrebande.co' %}
<html>
<head>
<meta name="facebook-domain-verification" content="al34q0aoax1olyqkqs84ilqpadtenb" />
<link rel="preconnect" href="https://{{hydrogen_domain}}" crossorigin>
<style>
:root { color-scheme: light; background-color: rgb(250 250 242); }
@media (prefers-color-scheme: dark) { :root { color-scheme: dark; background-color: rgb(18 20 16); } }
</style>
<script>
  function getCookie(name) {
    name = name + '=';
    var cookies = document.cookie.split(';');
    return cookies.reduce((accumulator, cookie) => {
      cookie = cookie.trim();
      if (cookie.indexOf(name) == 0) return cookie.trim.substring(name.length, cookie.length);
      return accumulator;
    }, null);
  }
  const url = new URL(window.location.href);
  url.host = "{{hydrogen_domain}}";
  // Redirect + handle discount codes
  var discountCode = getCookie("discount_code");
  if(discountCode) url.searchParams.append("discount_code", discountCode);
  window.location.replace(url.toString());
</script>
<!-- {{ content_for_header }} -->
</head>
<body><!-- {{ content_for_layout }} --></body>
</html>
